%h1
  = t("mailer.users.invit_step_create_account.h1.invit_step_create_account")
%p
  = t("mailer.invit_step_create_account.label.user_info")
%ul
  %li
    = t("mailer.users.invit_step_create_account.ul.li.first_name", :user_firstname => @user.firstname)
  %li
    = t("mailer.users.invit_step_create_account.ul.li.last_name", :user_lastname => @user.lastname)
  %li
    = t("mailer.users.invit_step_create_account.ul.li.email", :user_email => @user.email)
  %li
    = t("mailer.users.invit_step_create_account.ul.li.phone_number", :phone_number => @user.phone_number)
  %li
    = t("mailer.users.invit_step_create_account.ul.li.shop_key", :shop_key => @user.shop_key)
