%p#notice= notice
%p
  %b= Customization.human_attribute_name :background_color_shop
  = @customization.background_color_shop
%p
  %b= Customization.human_attribute_name :background_color_product_list
  = @customization.background_color_product_list
%p
  %b= Customization.human_attribute_name :background_color_product_thumb
  = @customization.background_color_product_thumb
%p
  %b= Customization.human_attribute_name :background_color_sidebar
  = @customization.background_color_sidebar
%p
  %b= Customization.human_attribute_name :baseline_color
  = @customization.baseline_color
%p
  %b= Customization.human_attribute_name :border_color
  = @customization.border_color
%p
  %b= Customization.human_attribute_name :color_text
  = @customization.color_text
%p
  %b= Customization.human_attribute_name :color_link
  = @customization.color_link
%p
  %b= Customization.human_attribute_name :color_text_product
  = @customization.color_text_product
%p
  %b= Customization.human_attribute_name :color_link_product
  = @customization.color_link_product
%p
  %b= Customization.human_attribute_name :products_per_page
  = @customization.products_per_page
%p
  %b= Customization.human_attribute_name :fan_access
  = @customization.fan_access
%p
  %b= Customization.human_attribute_name :search_engine
  = @customization.search_engine













