- if shop.has_customization
  :css
    #header img{top: #{shop.customization.header.offset}px !important;}
    body{background-color: #{shop.customization.background_color_shop} !important;}
    .ul_product_list{background-color: #{shop.customization.background_color_product_list} !important;}
    .product_thumb{ background-color: #{shop.customization.background_color_product_thumb} !important;}
    .product_price, .product_name{ color: #{shop.customization.color_text_product} !important;}
