.field
  = f.label :price
  = f.text_field :price
.field
  = f.label :height
  = f.text_field :height
.field
  = f.label :width
  = f.text_field :width
.field
  = f.label :weight
  = f.text_field :weight
